body{
  background-color: rgb(140,198,212);
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  padding:110px 0;
}
.container{
  margin:auto;
  width:250px;
  padding: 30px 15px 10px; 
  background-color: rgb(144,182,173);
  border-radius:14px;
}
#title{
  color: black;
  text-align:center;
}
.login_form{
  position: relative;
  text-align: center;

}
.login_form input{
  background-color: #f2f2f2;
  border: none;
}
.login_form input{
  width: 80%;
  padding: 12px 20px;
  margin: 10px;
  border-radius: 5px;
}
.login_form button{
  outline: 0;
  background: black;
  width: 80%;
  border: 0;
  margin-top: 10px;
  border-radius: 3px;
  padding: 15px;
  color: #ffffff;
  font-size: 15px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.4s ease-in-out;
  cursor: pointer;
   cursor: pointer;
   transition-duration: 0.7s;
}
.login_form button:hover{
  background-color:rgb(71,92,92);
  color: white;
}
.message a{
  color:black;
}
.message a:active {color: #060235}