body{
  padding: 25px;
}



#div1_1
{
  background-color: blue;
  text-align: center;
  color:white;
  padding-top: 5px;
  padding-bottom: 5px;
  font-size:25px;
}
.heading
{
  margin-top: 10px;
  color:aqua;
  font-size:20px;
}
.fcontainer
{
  display:flex;
  flex-direction: row;
  justify-content:space-between;
}
.fcontainer2
{
  display:flex;
  flex-direction: row;
  justify-content:end;
}

.buttons
{
  text-align: center;
}

.fitem1
{
  font-weight: bold;
}

.fitem2
{
  font-weight: bold;
}

.btn1
{
  background-color: darkgrey;
}
.btn2
{
  background-color: blue;
}
